<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>当前时间</title>

		<!-- The main CSS file -->
		<link href="./assetsclock/css/style.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">-->

	</head>

	<body>

		<div id="clock" class="light1">
			<div class="display">
				<div class="weekdays"></div>
				<div class="ampm"></div>
				<div class="alarm"></div>
				<div class="digits"></div>
			</div>
		</div>
		<script src="./assetsclock/js/jquery.min.js"></script>
		<script src="./assetsclock/js/moment.min.js"></script>
		<script src="./assetsclock/js/script.js"></script>
	</body>
</html>
